@import "../variables";

.wrapper {
  height: 5rem;
  width: fit-content;
  margin-inline: auto;
}

.pages {
  --mt: 12rem;
  --mb: 1rem;
  --gap: 1rem;
  place-content: center;
  margin-top: var(--mt, 2.4rem);
  margin-bottom: var(--mb, 2.4rem);
}

.img-crew {
  width: 50%;
  margin-inline: auto;
  margin-top: 5rem;
  transition: scale 0.3s ease;

  &:hover,
  &:focus {
    scale: 1.1;
  }
}

.page {
  label {
    display: block;
    width: 15px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-inline: 2.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    background-color: rgb($white, 0.18);

    &:hover,
    &:focus {
      background-color: rgb($white, 0.5);
    }
  }
  /* escondemos el input */
  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background-color: $white;
  }
  /* mostramos el div */
  /* input[type="radio"]:checked + label + div {
    display: block;
  } */
}

// Media Queries
@media (width >= 1024px) {
  .wrapper-pagination-crew {
    display: flex;
    gap: 18rem;
    align-items: center;
  }

  .img-crew {
    margin-top: 0;
    width: clamp(40%, 50vw, 30rem);
    aspect-ratio: 6 / 9;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  }
  .pages {
    --mt: clamp(20rem, 10vw, 20rem);
    place-content: initial;
  }
}
