@import "../variables";

.wrapper {
  height: 5rem;
  width: fit-content;
  margin-inline: auto;
}
.pages {
}
.page {
  label {
    display: block;
    width: 15px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-inline: 2.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    background-color: rgb($white, 0.18);

    &:hover,
    &:focus {
      background-color: rgb($white, 0.5);
    }
  }
  /* escondemos el input */
  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background-color: $white;
  }
  /* mostramos el div */
  /* input[type="radio"]:checked + label + div {
    display: block;
  } */
}
