@import "../variables";

.wrapper {
  height: 5rem;
  width: fit-content;
  margin-inline: auto;
}
.tabs {
}
.tab {
  // position: relative;
  label {
    margin-inline: 2.4rem;
    padding-bottom: 1.6rem;
    cursor: pointer;
    transition: border-bottom 0.3s ease-out;
    color: $blue-300;

    &:hover,
    &:focus {
      color: $white;
      border-bottom: 3px solid rgb($white, 0.3);
    }
  }
  /* escondemos el input */
  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    color: $white;
    border-bottom: 3px solid $white;
  }
}
