@import "../variables";

body {
  background-image: url("../../assets/home/background-home-mobile.jpg");
  @media (width >= 768px) {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
  @media (width >= 1024px) {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }
}

.article-title {
  margin: 2.4rem;
  margin-inline: auto;
}

p {
  max-width: 60rem;
  margin-inline: auto;
}

@media (width >= 1024px) {
  .space-article {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: var(--gap, 1.6rem);

    & > * {
      text-align: initial;
    }
    .article-title {
      line-height: 1.1em;
    }
  }
}
