body {
  background-image: url("../../assets/technology/background-technology-mobile.jpg");
  @media (width >= 768px) {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
  @media (width >= 1024px) {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
}

.hero-title {
  margin-block: 10rem;
}
