*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // to use 10x size instead of 16x
}

body {
  margin: 0;
  height: 100vh;
  height: 100dvh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  // line-height: 1.1em;
}

p {
  text-wrap: pretty;
}

//  remove animations for people who've turned them off
// @media (prefers-reduced-motion: reduce) {
//   *,
//   *::before,
//   *::after {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }
