@import "./variables";

.flex {
  display: flex;
  gap: var(--gap, 1.6rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1.6rem);
}

.container {
  // max-width: 90rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.ff-serif {
  font-family: $bellefair;
}
.ff-sans {
  font-family: $barlow;
}
.ff-sans-cond {
  font-family: $barlow-condensed;
}
.text-center {
  text-align: center;
}
.fw-bold {
  font-weight: 600;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.bg-dark {
  background-color: $blue-900;
}
.bg-accent {
  background-color: $blue-300;
}
.bg-white {
  background-color: $white;
}

.text-dark {
  color: $blue-900;
}
.text-accent {
  color: $blue-300;
}
.text-white {
  color: $white;
}

// Font size
.fs-1 {
  font-size: $fs-1;
  line-height: 171.9%;
}
.fs-2 {
  font-size: $fs-2;
  line-height: 114.6%;
}
.fs-3 {
  font-size: $fs-3;
  line-height: 64.2%;
}
.fs-4 {
  font-size: $fs-4;
  line-height: 36.7%;
}
.fs-5 {
  font-size: $fs-5;
  line-height: 33.6%;
  letter-spacing: 4px;
}
.fs-6 {
  font-size: $fs-6;
  line-height: 32.1%;
}
.fs-7 {
  font-size: $fs-7;
  line-height: 16.8%;
  letter-spacing: 2px;
}
.fs-8 {
  font-size: $fs-8;
  line-height: 19.2%;
  letter-spacing: 2px;
}
.fs-9 {
  font-size: $fs-9;
  line-height: 180%;
}

// Spacing

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}
