// Desing system variables

// Colors
// Hexadecimal
$blue-900: #0b0d17;
$blue-300: #d0d6f9;
$white: #fff;

//  HSL
// $blue-900: 230 35% 7%;
// $blue-300: 231 77% 90%;
// $white: 0 0% 100%;

// Typography

$bellefair: "Bellefair", serif;
$barlow-condensed: "Barlow Condensed", sans-serif;
$barlow: "Barlow", sans-serif;

// Font size

$fs-1: 14.4rem;
$fs-2: 10rem;
$fs-3: 5.6rem;
$fs-4: 3.2rem;
$fs-5: 2.8rem;
$fs-6: 2.8rem;
$fs-7: 1.4rem;
$fs-8: 1.6rem;
$fs-9: 1.8rem;
// $fs-900: 14.4rem;
// $fs-800: 10rem;
// $fs-700: 5.6rem;
// $fs-600: 3.2rem;
// $fs-500: 2.8rem;
// $fs-400: 2.8rem;
// $fs-300: 1.4rem;
// $fs-200: 1.6rem;
// $fs-100: 1.8rem;

// Font weight
$fw-900: 900;
$fw-700: 700;
$fw-600: 600; // bold
$fw-500: 500;
$fw-400: 400; // regular
$fw-300: 300;
$fw-200: 200;
$fw-100: 100;

// Spacing
$space-1600: 12.8rem;
$space-1200: 9.6rem;
$space-1000: 8rem;
$space-800: 6.4rem;
$space-600: 4.8rem;
$space-500: 4rem;
$space-400: 3.2rem;
$space-300: 2.4rem;
$space-200: 1.6rem;
$space-150: 1.2rem;
$space-100: 0.8rem;
$space-50: 0.4rem;
$space-25: 0.2rem;
