---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Design System" >
	<main class="container">

    <section> 
      <p class="text-accents m-0 fs-6"> <span>01 </span>Colors</p>
      <p class="fs-7">Blue</p>
      <div class="flex fs-9">
        <article class="color bg-dark">
          <div class="" style="outline: 1px solid #d0d6f9; padding: 1rem">
            <p class="m-0">#0b0d17</p>
            <p class="m-0">BLUE-900</p>
          </div>

          <p class=""> <span class="">RGB</span>  11, 13, 23</p>
          <p class=""> <span class="">HSL</span>  230 35% 7%</p>
        </article>
        <article class="color ">
          <div class="bg-accent text-dark" style="outline: 1px solid #0b0d17; padding: 1rem">
            <p class="m-0">#d0d6f9</p>
            <p class="m-0">BLUE-300</p>
          </div>

          <p class=""> <span class="">RGB</span>  208, 214, 249</p>
          <p class=""> <span class="">HSL</span>  231 77% 90%</p>
        </article>
      </div>

      <p class="fs-7">White</p>
      <div class="flex fs-9">
        <article class="color">
          <div class="bg-white text-dark" style="outline: 1px solid #fff; padding: 1rem">
            <p class="m-0">#fff</p>
            <p class="m-0">WHITE</p>
          </div>

          <p class=""> <span class="">RGB</span>  255, 255, 255</p>
          <p class=""> <span class="">HSL</span>  0 0% 100%</p>
        </article>
      </div>
    </section>
<hr>
    <section>
      <p class="fs-6"> <span>02 </span>Typography</p>
      <div class="flex">

        <div class="flow">
          <article class="">
              <p class="m-0 fs-5 ">Text Preset 1 - Bellefair Regular</p>
              <p class="m-0 fs-6 text-accent">144px - 171.9% Line Height (Normal) - 0px Letter Spacing</p>
              <p class="m-0 fs-1 ff-serif">EARTH</p>
          </article>
          <article class="">
              <p class="m-0 fs-5 ">Text Preset 2 - Bellefair Regular</p>
              <p class="m-0 fs-6 text-accent">100px - 114.6% Line Height (Normal) - 0px Letter Spacing</p>
              <p class="m-0 fs-2 ff-serif">VENUS</p>
          </article>
          <article class="">
              <p class="m-0 fs-5 ">Text Preset 3 - Bellefair Regular</p>
              <p class="m-0 fs-6 text-accent">56px - 64.2% Line Height (Normal) - 0px Letter Spacing</p>
              <p class="m-0 fs-3 ff-serif">JUPITER & SATURN</p>
          </article>
          <article class="">
              <p class="m-0 fs-5 ">Text Preset 4 - Bellefair Regular</p>
              <p class="m-0 fs-6 text-accent">32px - 36.7% Line Height (Normal) - 0px Letter Spacing</p>
              <p class="m-0 fs-4 ff-serif">URANUS, NEPTUNE, & PLUTO</p>
          </article>
          <article class="">
              <p class="m-0 fs-5 ">Text Preset 5 - Barlow Condensed Regular</p>
              <p class="m-0 fs-6 text-accent">28px - 33.6% Line Height (Normal) - 4px Letter Spacing</p>
              <p class="m-0 fs-5 ff-sans-cond">HAUMEA, SEDNA, ERIS, & CERES</p>
          </article>
        </div>
        <div class="flow">
          <article class="">
              <p class="m-0 fs-5 ">Text Preset 6 - Bellefair Regular</p>
              <p class="m-0 fs-6 text-accent">28px - 32.1% Line Height (Normal) - 0px Letter Spacing</p>
              <p class="m-0 fs-6 ff-serif">384,400 km</p>
          </article>
          <article class="">
              <p class="m-0 fs-5 ">Text Preset 7 - Barlow Condensed Regular</p>
              <p class="m-0 fs-6 text-accent">14px - 16.8% Line Height (Normal) - 2px Letter Spacing</p>
              <p class="m-0 fs-7 ff-sans-cond">AVG. DISTANCE</p>
          </article>
          <article class="">
              <p class="m-0 fs-5 ">Text Preset 8 - Barlow Condensed Regular</p>
              <p class="m-0 fs-6 text-accent">16px - 19.2% Line Height (Normal) - 2px Letter Spacing</p>
              <p class="m-0 fs-8 ff-sans-cond">EUROPA</p>
          </article>
          <article class="">
              <p class="m-0 fs-5 ">Text Preset 9 - Barlow Regular</p>
              <p class="m-0 fs-6 text-accent">18px - 180% Line Height - 0px Letter Spacing</p>
              <p class="m-0 fs-9 ff-sans-cond" style="line-height: 180%;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. </p>
          </article>
        </div>
      </div>
    </section>
<hr>
<section>
  <p class="fs-6" style="margin-bottom: 15rem;"> <span>03 </span>Components</p>
  <a href="#" class="fs-6 btn-explore bg-white text-dark" style="margin-left: 15rem; margin-bottom: 15rem;">Explore</a>
  <br>
</section>

	</main>
</Layout>

<style>

  .color {}

  /* .flow > *:where(:not(:first-child)) {}*/
  .flow > * + * {
    margin-top: var(--flow-space, 2rem);
  }

  .btn-explore {
    width: 16rem;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 0rem 8.8rem hsl(0 0 100 / 0.1);
    }
  }
</style>