---
import "../styles/pages/_index.scss";

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import LargeButton from '../components/Large-button.astro';

---

<Layout title="Space tourism" >
	<body>
		<Header currentPage={0}/>
		<main class="container">
			<article class="space-article text-center">
				<header>
					<p class="fs-6 ff-sans-cond text-accent">SO, YOU WANT TO TRAVEL TO</p>
					<p class="article-title fs-1 ff-serif">
						SPACE
					</p>
					<p class="fs-9">
						Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
					</p>
				</header>
				<LargeButton link="/destination" > EXPLORE </LargeButton>
			</article>
		</main>
	</body>
</Layout>

<style></style>
