---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

import "../styles/pages/_index.scss";
---

<Layout title="Space tourism website" >
	<Header currentPage={0}/>
	<main class="container">
		<article class="text-center">
			<header>
				<p class="fs-6 ">SO, YOU WANT TO TRAVEL TO</p>
				<p class="article-title  fs-1 ff-serif">
					SPACE
				</p>
			</header>
			<p class="fs-9 ">
				Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
			</p>
			<a href="/destination" class="fs-7 btn-explore bg-white text-dark">EXPLORE</a>
			<br>
		</article>
	</main>
</Layout>

<style>
</style>
