---
import "../styles/components/_large-button.scss";

interface Props {
  link: string;
  className?: string;
}

const { link, className = "fs-7" } = Astro.props;
---

<a href={link} class={`btn-explore bg-white text-dark ${className}`}>
  <slot />
</a>
<br>

<style>

</style>