---
import "../styles/components/_tabs.scss";

const tabs = [
  
]
---

<!-- Tabs -->

    <div class="wrapper">
      <section class="tabs flex">
        <section class="tab">
          <input id="tab1" type="radio" name="test" checked />
          <label for="tab1" class="tab__title fs-8"> TAB MENU </label>
        </section>
        <section class="tab">
          <input id="tab2" type="radio" name="test" />
          <label for="tab2" class="tab__title fs-8"> TAB MENU </label>
        </section>
        <section class="tab">
          <input id="tab3" type="radio" name="test" />
          <label for="tab3" class="tab__title fs-8"> TAB MENU </label>
        </section>
      </section>
      <section class="content">
        <!-- <p>
          1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
          provident accusamus nam ratione accusantium, obcaecati porro
          praesentium voluptatum voluptatem amet doloribus ex odit cumque vitae
          illo eius dignissimos doloremque deserunt?
        </p>
        <p hidden>
          2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed porro
          praesentium tempore molestias quasi aliquam nam consectetur? Tempore
          atque ut repellendus nobis quidem, amet est deserunt velit fuga
          perferendis. Nobis.
        </p> -->
      </section>
    </div>

    <script>
      // const tabs = document.querySelectorAll(".tab");
      // const content = document.querySelectorAll(".content p");

      // tabs.forEach((tab, idx) => {
      //   tab.addEventListener("click", () => {
      //     content.forEach((c) => {
      //       const isHidden = c.hasAttribute("hidden");
      //       if (!isHidden) c.toggleAttribute("hidden");
      //     });
      //     content[idx].removeAttribute("hidden");
      //   });
      // });
    </script>
  
<style></style>